.rider {
  text-align: center;
  margin-bottom: 150px;

  @media(max-width: 768px) {
    margin-bottom: 70px;
  }
 
  &__subtitle {
    @include subtitle;
  }

  &__title {
    @include title;
    margin-bottom: 80px;

    @media(max-width: 768px) {
      margin-bottom: 50px;
    }

    @media(max-width: 510px) {
      margin-bottom: 30px;
    }
  }

  &__flex {
    max-width: 1078px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 30px;

    @media(max-width: 1120px) {
      justify-content: center;
    }
  }

  .accordeon {
    max-width: 526px;
    width: 100%;

    @media(max-width: 768px) {
      max-width: 450px;
    }

    .box {
      text-align: left;
      border-radius: 5px;

      &:not(:last-child) {
        margin-bottom: 20px;

        @media(max-width: 510px) {
          margin-bottom: 15px;
        }
      }

      .label {
        position: relative;
        font-size: 18px;
        line-height: 27px;
        font-weight: 700;
        text-transform: uppercase;
        background-color: $color-bg-3;
        border-radius: 5px;
        cursor: pointer;
        padding: 20px 0 20px 40px;

        @media(max-width: 768px) {
          font-size: 16px;
          padding: 10px 0 10px 40px;
        }

        @media(max-width: 510px) {
          font-size: 14px;
          line-height: 21px;
          padding-left: 29px;
        }

        &::after {
          content: '';
          width: 21px;
          height: 14px;
          background-image: url(../img/rider-arrow.svg);
          background-repeat: no-repeat;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 40px;

          @media(max-width: 510px) {
            background-size: 80%;
            right: 25px;
          }
        }
      }

      .content {
        position: relative;
        max-height: 0;
        overflow: hidden;
        // transition: 0.3s;
        transition: max-height 0.3s ease;

        ul {
          list-style-type: disc;
          padding: 0 0 25px 65px;

          @media(max-width: 510px) {
            font-size: 12px;
            line-height: 16px;
            padding: 0 0 15px 30px;
          }
        }

        li:not(:last-child) {
          margin-bottom: 20px;

          @media(max-width: 768px) {
            margin-bottom: 10px;
          }
        }
      }
    }

    .active {
      background-color: $color-bg-2;

      .label {
        background-color: $color-bg-2;
        max-height: 500px;

        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__block-2 {
    @include flex(center);
    flex-direction: column;
    max-width: 415px;

    .rider__title-3 {
      max-width: 410px;
      font-size: 32px;
      line-height: 48px;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 50px;

      @media(max-width: 768px) {
        max-width: 270px;
        font-size: 24px;
        line-height: 32px;
      }

      @media(max-width: 510px) {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 30px;
      }
    }

    .rider__img__block {
      @include flex(center);
      gap: 25px
    }

    figure {
      @include flex(center);
      flex-direction: column;
      gap: 30px;
      margin-bottom: 25px;

      @media(max-width: 510px) {
        gap: 15px;
        margin-bottom: 10px;
      }

      figcaption {
        max-width: 125px;
        font-weight: 700;
        text-transform: uppercase;

        @media(max-width: 510px) {
          max-width: 100px;
          font-size: 12px;
          line-height: 18px;
        }
      }
    }

    .rider__img__social {
      @include flex(center);
      gap: 25px;

      @media(max-width: 510px) {
        gap: 10px;
      }

      a {
        @include flex(center);
        width: 36px;
        height: 36px;
        border: 2px solid $color-bg-2;
        border-radius: 5px;
        transition: 0.3s;

        @media(max-width: 510px) {
          width: 30px;
          height: 30px;
        }

        &:hover {
          background-color: $color-bg-2;
        }
      }
    }
  }
}